In [1]:
import pandas as pd
import requests

In [2]:
data = pd.read_csv("NewLinks2017-12-03 20:28:18.862583.csv")

In [24]:
coach = data[data.key == 'people'].drop_duplicates()

In [26]:
coach.sort_values(['team'], inplace = True)

In [29]:
coach_list = coach.to_dict(orient='record')

In [31]:
r = requests.get(coach_list[0]['link'])

In [33]:
tables = pd.read_html(r.content)

In [43]:
tables[1]['name'] = coach_list[0]['txt']

In [50]:
%matplotlib inline
tables[1][:-1]

,Year,Org,Division,Wins,Losses,Ties,WL%,Notes,name
0,2007-08,Air Force,FBS,9,4.0,0.0,0.692,NaN,Troy Calhoun
1,2008-09,Air Force,FBS,8,5.0,0.0,0.615,NaN,Troy Calhoun
2,2009-10,Air Force,FBS,8,5.0,0.0,0.615,NaN,Troy Calhoun
3,2010-11,Air Force,FBS,9,4.0,0.0,0.692,NaN,Troy Calhoun
4,2011-12,Air Force,FBS,7,6.0,0.0,0.538,NaN,Troy Calhoun
5,2012-13,Air Force,FBS,6,7.0,0.0,0.462,NaN,Troy Calhoun
6,2013-14,Air Force,FBS,2,10.0,0.0,0.167,NaN,Troy Calhoun
7,2014-15,Air Force,FBS,10,3.0,0.0,0.769,NaN,Troy Calhoun
8,2015-16,Air Force,FBS,8,6.0,0.0,0.571,NaN,Troy Calhoun
9,2016-17,Air Force,FBS,10,3.0,0.0,0.769,NaN,Troy Calhoun
10,2017-18,Air Force,FBS,5,7.0,0.0,0.417,NaN,Troy Calhoun